<div>
  <form>
    <div>
      <h2>Cadastre transação</h2>
      <a routerLink="/" routerLinkActive="active">Arrow</a>
    </div>
    <label for="value">Valor</label>
    <input id="value" type="number" placeholder="R$" />
    <label for="type">Tipo</label>
    <select name="type" id="type">
      <option value="entry">Entrada</option>
      <option value="expense">Saída</option>
    </select>
    <label for="description">Descrição:</label>
    <textarea id="description" placeholder="Descrição"></textarea>
    <button type="submit">Cadastro</button>
  </form>
</div>
