<div>
  <form (submit)="submitTrasactionForm($event)">
    <div>
      <h2 class="title">Cadastre transação</h2>
      <a routerLink="/" routerLinkActive="active"
        ><mat-icon class="arrow">arrow_back</mat-icon></a
      >
    </div>
    <label class="paragraph" for="value">Valor</label>
    <input id="value" type="number" placeholder="R$" [formControl]="value" />
    <label class="paragraph" for="type">Tipo</label>
    <select name="type" id="type" [formControl]="type">
      <option value="Entrada">Entrada</option>
      <option value="Saída">Saída</option>
    </select>
    <label class="paragraph" for="description">Descrição:</label>
    <textarea
      id="description"
      placeholder="Descrição"
      [formControl]="description"
    ></textarea>
    <button class="btn md" type="submit">Cadastro</button>
  </form>
</div>
