<div>
  <form (submit)="submitTrasactionForm($event)">
    <div>
      <h2>Cadastre transação</h2>
      <a routerLink="/" routerLinkActive="active">Arrow</a>
    </div>
    <label for="value">Valor</label>
    <input id="value" type="number" placeholder="R$" [formControl]="value" />
    <label for="type">Tipo</label>
    <select name="type" id="type" [formControl]="type">
      <option value="entrada">Entrada</option>
      <option value="saida">Saída</option>
    </select>
    <label for="description">Descrição:</label>
    <textarea
      id="description"
      placeholder="Descrição"
      [formControl]="description"
    ></textarea>
    <button type="submit">Cadastro</button>
  </form>
</div>
